.loading-screen {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-1 {
  height: 30px;
  width: 100px;
}


.App {
  text-align: center;
}

.title {
  padding-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
}

.description {
  margin-bottom: 10px;
}

.wallet-wrap {
  margin-bottom: 10px;
}

.wallet-wrap-header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.display-user-trades-wrap {
  margin-bottom: 10px;
}

.display-user-trades-your-trades-header {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.display-user-trades-trades-wrap {
  display: flex;
  justify-content: center;
  word-wrap: break-word;
}

.display-user-trades-trade-header {
  font-weight: bold;
}

.display-user-trades-trade-box {
  margin-bottom: 10px;
}

.display-user-trades-target-trades-wrap {
  width: 325px;
}

.display-user-trades-tokens-for-tokens-wrap {
  width: 325px;
  margin-left: 10px;
}

.display-trades-of-tokens-for-tokens{
  width: 325px;
  border: 1px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
}

.display-user-trades-tokens-for-eth-wrap {
  width: 325px;
  margin-left: 10px;
  margin-right: 10px;
}

.display-trade-of-tokens-for-eth {
  width: 325px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.display-user-trades-eth-for-tokens-wrap {
  width: 325px;
  margin-right: 10px;
  margin-left: 10px;
}

.display-trade-of-eth-for-tokens {
  width: 325px;
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
}

.trade-header-make-trade-offers {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.add-trade-wrap {
  display: flex;
  justify-content: center;
}

.make-token-trade-approve-button {
  margin-bottom: 5px;
}

.make-tokens-trade-approve-header{
  margin-bottom: 5px;
}

.add-tokens-for-tokens-trade-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.add-trade-token-for-token-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-tokens-for-tokens-trade-approve-header {
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-tokens-for-tokens-approve-button {
  margin-bottom: 5px;
}

.add-tokens-for-eth-trade-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.add-trade-token-for-eth-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-tokens-for-eth-trade-approve-header {
  margin-top: 5px;
  margin-bottom: 5px;
}

.add-tokens-for-eth-approve-button {
  margin-bottom: 5px;
}

.add-eth-for-tokens-trade-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.add-trade-eth-for-token-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-eth-for-tokens-trade-button {
  margin-top: 5px;
}

.orderList{
  display: flex;
  flex-direction: row;
}

.trade-token-title-search-for-trades {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.trade-for-token-title-search-by-what-they-will-be-trading {
  margin-bottom: 5px;
  font-weight: bold;
}

.trade-for-token-title-search-by-what-you-will-be-trading {
  margin-bottom: 5px;
  font-weight: bold;
}

.search-for-token-by-name-wrap {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.search-for-token-by-address-wrap {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.search-for-trading-for-token-by-name {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.search-for-trading-for-token-by-address {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.trades-wrap {
  margin-bottom: 10px;
}

.trades-header {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.trades {
  display: flex;
  justify-content: center;
  height: 250px;
  /* grid-auto-columns: 1fr; */
  /* flex-direction: row; */
}

.trade-address-overflow {
  word-wrap: break-word;
  white-space: initial;
}

.trade-inner-wrap {
  margin-bottom: 5px;
}

.trades-of-tokens-for-tokens-wrap {
  grid-row: 1;
  width: 325px;
  word-wrap: break-word;
  margin-left: 10px;
}

.trades-of-tokens-for-tokens-header{
  font-weight: bold;
  margin-bottom: 10px;
}

.trades-of-tokens-for-eth-wrap {
  grid-row: 1;
  width: 325px;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

.trades-of-tokens-for-eth-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.trades-of-eth-for-tokens  {
  grid-row: 1;
  width: 325px;
  word-wrap: break-word;
  margin-right: 10px;
}

.trades-of-eth-for-tokens-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.what-they-will-be-trading-inner-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.what-you-will-be-trading-inner-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.trades-of-tokens-for-tokens {
}

.trade-of-tokens-for-tokens {
  border: 1px solid black;
  margin-bottom: 15px;
}

.trades-of-tokens-for-eth {

}

.trade-of-tokens-for-eth {
  border: 1px solid black;
  margin-bottom: 15px;
}

.trades-of-eth-for-tokens {

}

.trade-of-eth-for-tokens {
  border: 1px solid black;
  margin-bottom: 15px;
}

.bottom-nav-bar {
  height: 50px;
  margin-top: 30px;
  padding-bottom: 10px;
}

.bottom-nav-bar-contact {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

.bottom-nav-bar-email {

}
