.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-1 {
  height: 30px;
  width: 100px;
}


.App {
  text-align: center;
}

.title {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}


.connect-kit-button-wrap {
  display: flex;
  justify-content: center;
}

.add-tokens-for-tokens-trade-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-tokens-for-eth-trade-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-eth-for-tokens-trade-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orderList{
  display: flex;
  flex-direction: row;
}

.trade-token-title {
  margin-bottom: 10px;
}

.trade-for-token-title {
  margin-bottom: 10px;
}

.search-for-token-by-name-wrap {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.search-for-token-by-address-wrap {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.search-for-trading-for-token-by-name {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.search-for-trading-for-token-by-address {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.trades-wrap {

}

.trades {
  display: flex;
  flex-direction: row;
}

.trade-inner-wrap {
  margin-bottom: 5px;
}

.trades-of-tokens-for-tokens-wrap {
  width: 500px;
}

.trades-of-tokens-for-eth-wrap {
  width: 500px;
}

.trades-of-eth-for-tokens-wrap  {
  width: 500px;
}

.trades-of-tokens-for-tokens {
  margin-left: 10px;
  margin-right: 10px;
}

.trade-of-tokens-for-tokens {
  border: 1px solid black;
  margin-bottom: 15px;
}

.trades-of-tokens-for-eth {
  margin-left: 10px;
  margin-right: 10px;
}

.trade-of-tokens-for-eth {
  border: 1px solid black;
  margin-bottom: 15px;
}

.trades-of-eth-for-tokens {
  margin-left: 10px;
  margin-right: 10px;
}

.trade-of-eth-for-tokens {
  border: 1px solid black;
  margin-bottom: 15px;
}


.test {
  height: 60px;
}
